<div class="row translationUnit {translationUnit.class}">
	<div class="span4">
		From:<br />
		{translationUnit.source}
		<f:if condition="{translationUnit.originalModified}">
			<f:then>
				<hr />
				Old-Original:<br />
				{translationUnit.originalSource}
			</f:then>
		</f:if>
	</div>
	<div class="span7">
		<b>To ({translationUnit.transUnitId}):</b><br />
		<f:form.textfield name="translationUnits[{translationUnit.transUnitId}][{toLang}]" value="{translationUnit.target}" class="input-xxlarge" />
	</div>
</div>
